@import url('https://fonts.googleapis.com/css?family=Rubik:300,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 50px;
}

/* p {
  font-size: 20px;
} */

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

h2{
  text-align: center;
}

.title{
  display: flex;
  flex-direction: column;
  color:black;
  background: linear-gradient(15deg, red , white, blue);
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.title-image {
  display: block;
  max-height: 15vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2px;
}

.image-container {
  position: relative;
  display: flex;
}

.stadium-image {
  display: block;
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1em;
}

.login-form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.8rem;
}

.form label {
  display: block;
  width: 100%;
}

.form input[type="radio"] {
  display: inline-block;
  margin-right: 0.5rem;
}

.form input[type="text"] {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form button {
  display: block;
  width: 100%;
  max-width: none;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form .search-box {
  display: flex;
  align-items: center;
}

.form .search-box input[type="text"] {
  margin-right: 1em;
  width: 100%;
}

.form .search-box button {
  width: calc(100% - 130px); 
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.border-profile{
  border: 1px solid black;
  padding: 3px;
  font-size: 20px;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.event-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}

.event-info {
  flex-basis: 50%;
  border: 1px solid black;
  padding: 5px;
}

.event-label {
  font-weight: bold;
}

.event-actions {
  display: flex;
  flex-basis: 20%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.bar-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}